:root {
  // MARKETING STRIP
  --marketing-strip-height: 48px;
  @screen md {
    --marketing-strip-height: 36px;
  }
  --marketing-strip-max-height: var(--marketing-strip-height);

  // NAVBAR
  --navbar-height: 72px;

  // MONOGRAM STRIP
  --monogram-strip-height: 56px;

  // HEADER LOGO HEIGHT
  --logo-header-height: clamp(24px, 4.14dvh, 48px);

  @screen md {
    --logo-header-height: clamp(48px, 11.5dvh, 130px);
  }

  @screen lg {
    --logo-header-height: max(
      calc(
        100dvh - var(--brand-image-height) - var(--logo-card-height) - var(
            --marketing-strip-max-height
          ) - 64px
      ),
      48px
    );
  }

  // HEADER HEIGHT (adding padding to header logo height)

  --header-height: calc(var(--logo-header-height) + 24px);

  @screen md {
    --header-height: calc(var(--logo-header-height) + 48px);
  }

  @screen lg {
    --header-height: calc(var(--logo-header-height) + 64px);
  }

  // SUBHOMES LAYOUT TOTAL HEIGHT (differs from homepage because we have the monogram strip)
  --subhome-layout-height: calc(
    var(--marketing-strip-max-height) + var(--header-height) +
      var(--navbar-height) + var(--monogram-strip-height)
  );

  @screen lg {
    --subhome-layout-height: calc(
      var(--marketing-strip-max-height) + var(--header-height) +
        var(--monogram-strip-height)
    );
  }

  // HOMEPAGE LAYOUT TOTAL HEIGHT (the sum of all layout elements)
  --homepage-layout-height: calc(
    var(--marketing-strip-max-height) + var(--header-height) +
      var(--navbar-height)
  );

  @screen lg {
    --homepage-layout-height: calc(
      var(--marketing-strip-max-height) + var(--header-height)
    );
  }
}
